:root{
  --color-primary: #1126ef;
  --color-primary-accent:blueviolet;
  --color-white:#ffffff; 
  --color-text:#111111;
  --color-text-accent:#2b2a2a;
  --color-muted: #808080;
  --color-success:#33c648;
  --color-danger:#fc605b;
  --color-warning:#ffbb55;
  --transition:all 400ms ease;
  --gray-border:1px solid rgba(125, 125, 130, 0.493);
  --bg-primary: #f1f1f1;
  --bg-secondary: #FFFFFF;
  --bg-variant: #e9e6e6;
  --gradient-1:linear-gradient(to right, var(--color-primary) 0%, var(--color-primary-accent) 100%);
  --shadow-1: inset 0 0 0.5px 1px hsla(0, 0%,  
              100%, 0.075),
              /* shadow ring 👇 */
              0 0 0 1px hsla(0, 0%, 0%, 0.05),
              /* multiple soft shadows 👇 */
              0 0.3px 0.4px hsla(0, 0%, 0%, 0.02),
              0 0.9px 1.5px hsla(0, 0%, 0%, 0.045),
              0 3.5px 6px hsla(0, 0%, 0%, 0.09);
}

[data-theme="dark"] {
    --color-text:#FFFFFF;
    --color-text-accent:#b8b6b6;
    --gray-border:1px solid rgba(89, 88, 88, 0.633);
    --bg-primary: #0A0A0C;
    --bg-secondary: #171719;
    --bg-variant: #1b1b1e;
} 